<h2>Your Happiest Hour Begins Now!</h2>

    <%= form_with url: '/sessions' do |f| %>
      <p><%= f.text_field :username, placeholder: "Username" %></p>
      <p><%= f.password_field :password, placeholder: "Password" %></p>
      <p><%= f.submit 'Login' %></p>
    <% end %>

<h3>or</h3>

<h5><i>Wanna Be Happy?</i>  <%= link_to 'Sign Up Now', signup_path %></h5>
 