<% if session[:user_id] %>
	<h1 class="fancy-font"><b><%= @user.username %>, WHAT ARE YOU DOING HERE, GO OUT TO A BAR!</b></h1>
    <!-- It's DateTime.now.strftime("%I:%M%p") -->
    <!-- DateTime.now.strftime("%m/%d/%Y")   to render the date only  -->
  <% else %>
    <h2>Your Happiest Hour Begins Now!</h2>
        <%= form_with url: '/sessions' do |f| %>
          <p><%= f.text_field :username, placeholder: "Username" %></p>
          <p><%= f.password_field :password, placeholder: "Password" %></p>
          <p><%= f.submit 'Login' %></p>
        <% end %>
    <br />
    <h3>🍻 <b><i>Wanna Be Happy?</i> 🍻<br /><br />
    <%= link_to 'Create an Account', signup_path, class:"button" %></b></h3>
<% end %>
