<h1>All Bars</h1>

<%= form_with url: bars_path, method: 'get' do |f| %>
  <%= f.label :search, 'Search by Neighborhood' %>
  <%= f.text_field :search %>
  <%= f.submit %>
<% end %>

<% @bars.each do |b| %>
  <div class="table">
    <ul>
      <li><%= link_to b.name, b %>, <%= b.neighborhood%></li>
    </ul>
  </div>
<% end %>
<br />

<a class="button" href="bars/new">Add New Bar</a>
<br /><br />
