<h1>All Bars</h1>

<%= form_with url: '/search', method: 'get' do |f| %>
  <%= f.label :search, 'Search by Neighborhood' %>
  <%= f.text_field :search %>
  <%= f.submit %>
<% end %>

<% @bars.each do |b| %>
    <ul style="list-style: none;">
      <li><%= link_to b.name, b %>, <%= b.neighborhood%></li>
    </ul>
<% end %>
<br />

<a class="button" href="bars/new">Add New Bar</a>
<br /><br />
