<h1>All Bars</h1>

<%= form_with url: '/bars', method: 'get', local: true do |f| %>
  <%= f.label :search, 'Filter by Neighborhood' %>
  <%= f.text_field :search %>
  <%= f.submit %>
<% end %>
<br />
<ul class="the-list-item">
  <% @bars.each do |b| %>
    <li><%= link_to b.name, b %>, <%= b.neighborhood%></li><br />
  <% end %>
</ul>


<a class="button" href="bars/new">Add New Bar</a>
<br /><br />
