<h1><%= @bar.name %></h1>

<%= @bar.address %><br />
<%= @bar.phone_number %><br />
<%= @bar.neighborhood %><br />
<%= @bar.vibe %><br />
Price Level: <%= @bar.price_level %><br />
Sake: <%= @bar.sake %><br />
Beer: <%= @bar.beer %><br />
Cocktail: <%= @bar.cocktail %><br />
Wine Glass: <%= @bar.wine_glass %><br />
Wine Bottle: <%= @bar.wine_bottle %><br />
Beer and Shot: <%= @bar.beer_and_shot %><br />
Happy Hour Start Time: <%= @bar.start_time %><br />
Happy Hour End Time: <%= @bar.end_time %><br />
