<h3>Create A Happy You!</h3>

<%= form_with model: @user do |form| %>
  <%= form.text_field :username, placeholder: "Username" %><br /><br />
  <%= form.password_field :password , placeholder: "Password"%><br /><br />
  <%= form.number_field :age, placeholder: 'Age' %><br /><br />
  <%= form.label 'Favorite drink' %>:
  <%= form.select :favorite_drink, ['Gin & Tonic', 'Beer', 'Manhattan', 'Negroni', 'Red Wine', 'Water', 'White Wine Spritzer', 'Vodka Soda'] %><br /><br />
  <%= form.submit "Let's gooo!"%>
<% end %>
