<h1>Welcome <%=@user.username%>! </h1>
<h3>It's Happy Hour...</h3>

<p><b>Favorite Drink:</b> <%= @user.favorite_drink %></p>
<p><b>Age:</b> <%= @user.age%></p>

<h3>My Bars</h3>
<% @user.bars.each do |b|%>
<%= b.name %>
<% end %>
<br /><br />
<%= link_to 'Edit', edit_user_path, class: "button" %>
<%= link_to 'Logout', @user, method: :delete, class: "button" %>
