<h1>Welcome <%=@user.username%>! </h1>
<h3>It's Happy Hour...</h3>

<p><b>Favorite Drink:</b> <%= @user.favorite_drink %></p>
<p><b>Age:</b> <%= @user.age%></p>

<h3>My Bars</h3>

<ul style="list-style: none;">
<% @user.bars.each do |b|%>
<li><b><%= link_to b.name, b %></b><br /><%= b.neighborhood %>, <%= b.start_time.strftime("%I:%M%p") %> - <%= b.end_time.strftime("%I:%M%p") %></li>
<br /><% end %>
</ul>

<br /><br />
<%= link_to 'Edit', edit_user_path, class: "button" %>
<%= link_to 'Logout', @user, method: :delete, class: "button" %>
